.temp {
  font-size: 48px;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.time {
  text-align: right;
}

/* General Card Styles */
.card-info {
  position: relative;
  color: white;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent black overlay */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* Specific Background Images */
.piece-work {
  background-image: url("https://plus.unsplash.com/premium_photo-1675727579600-b2656a265c15?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.piece-work-2 {
  background-image: url("https://images.unsplash.com/photo-1692369222592-9393edb90c22?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.register {
  background-image: url("https://images.unsplash.com/photo-1576414160011-98dfab3aa889?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
