.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 80px;
}
.custom-toast {
  --background: green;
  --color: white;
  --border-radius: 10px;
  --width: 80%;
  --min-width: 280px;
  --max-width: 400px;
  --margin: 0 auto;
  --top: 50%;
  transform: translateY(-50%);
}

.custom-toast .button {
  --color: white; /* This will ensure the OK button text is white */
}
